* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: hsl(240, 61%, 12%);
    background-image: url('../images/dots.png');
    font-family: 'Source Code Pro';
    color: white;
    max-width: 1280px;
}

body > section {
    border: 2px solid hsl(191, 98%, 68%);
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header > h1 {
    font-size: 1.6rem;    
    padding-left: 0.8rem;
}

.header > h1 > a {
    color: white;
    text-decoration: none;
}

.header > a {
    color: white;
    text-decoration: none;
}

.header > a > img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}

.subheader {
    padding-bottom: 1rem;    
}

.subheader h2 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.subheader a,
.subsubheader a {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 0.1rem solid white;
    padding: 0.5rem 1rem;
    background: hsla(268, 55%, 53%, 0.75);
}

.subsubheader {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subsubheader h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.image > img {
    width: 100%;
}